/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/DMSAssign2/nbproject/private/
/DMSAssign2/DMSAssign2-war/nbproject/private/
/DMSAssign2/DMSAssign2-ejb/nbproject/private/
/DMSAssign2/DMSAssign2-war/build/
/DMSAssign2/DMSAssign2-ejb/dist/
/DMSAssign2/DMSAssign2-ejb/build/
/DMSAssign2/build/
/DMSAssign2/DMSAssign2-war/dist/
/DMSAssign2/dist/
/Assign2/nbproject/private/
/Assign2/Assign2-war/nbproject/private/
/Assign2/Assign2-ejb/nbproject/private/
/Assign2/Assign2-war/build/
/Assign2/Assign2-ejb/dist/
/Assign2/Assign2-ejb/build/